.am-container {
  height: 65vh;
  line-height: 1.7;
}

.am-area {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.am-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.am-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.am-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.relative {
  position: relative;
}

.am-aboutme {
  position: absolute;
  width: 100%;
  font-size: 7.5em;
  font-weight: 700;
  top: -0.9em;
  left: -5%;
  z-index: -100;
  color: rgb(233, 233, 233);
  white-space: nowrap;
}

.iconsize {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.am-infos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.am-infos-two {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.am-stroke {
  width: 0.5px;
  height: 100px;
}

.am-infos-icontext {
  display: flex;
  align-items: center;
  line-break: auto;
}

.am-infos-edu {
  display: flex;
  align-items: center;
}

.am-education {
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    z-index: -1;
  }
  to {
    opacity: 1;
    z-index: -1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    z-index: -1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

.elem-visible {
  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-timing-function: linear;
}

.elem-invisible {
  animation-name: fadeOut;
  animation-duration: 0.4s;
  opacity: 0%;
}

.subtitle-text {
  font-size: 30px;
  font-weight: 500;
}

// .am-infos-icontext:nth-child(1) > .iconsize > .subtitle-text {
//   font-size: 34px;
// }

.none {
  display: none;
}

@media (max-height: 800px) {
  .am-container {
    height: 100vh;
  }
}

@media (max-width: 1200px) {
  .am-aboutme {
    left: 6%;
  }
}

@media (max-width: 890px) {
  .am-aboutme {
    font-size: 6em;
    top: -1.5em;
    left: 15%;
  }
  .am-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .am-stroke {
    margin: 5px 0;
    height: 0.5px;
    height: 20px;
  }

  .am-infos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }

  .am-infos-two {
    gap: 10px;
  }
}
