.cav-container {
  position: relative;
  z-index: 0;
  height: 100vh;
}

.cav__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cav__content {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #2e2e2e;
}

.cav__bold {
  font-weight: 700;
}

.cav__img-container {
  width: 265px;
  height: 265px;
  background-color: grey;
}

.cav__photo {
  height: 100%;
  width: 265px;
  object-fit: cover;
  filter: grayscale(100%)

}

@media (max-width: 1200px) {
  .cav__wrapper {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .cav__wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .cav__img-container {
    margin-bottom: 30px;
  }
  .cav__content {
    margin: 0 30px;
    display: flex;
    align-items: center;
    font-size: 35px;
    text-align: center;
  }
  .cav__p {
    word-break: keep-all;
  }
}

@import "./Variable";
