.portfolio {
  position: relative;
  line-height: 1.5;
}

.fixed {
  position: fixed;
  max-width: 1140px;
  width: 100%;
  top: 0px;
  z-index: 100;
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}

.portfolio__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.portfolio__header,
.portfolio__wrapper {
  margin: 0 30px;
}

.portfolio__container {
  margin-top: 100px;
}

.portfolio__icon {
  font-size: 30px;
}

.portfolio__img {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__img-01 {
  width: auto;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  background-color: #e78ea5 !important;
}

.portfolio__content-info {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.portfolio__content-info-name {
  font-size: 40px;
  font-weight: 700;
  color: rgb(56, 56, 56);
  padding-bottom: 10px;
}

.portfolio__content-ex-text {
  padding-bottom: 30px;
}

.portfolio__content-ex-text > span {
  font-weight: 500;
}

.portfolio__content-ex-write {
  margin-top: 15px;
}

.portfolio__content-skill {
  font-size: 13px;
}

.portfolio__bottom {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.portfolio__bottom-links {
  margin-bottom: 5px;
}

.portfolio__bottom-links > a {
  &:link {
    color: rgb(86, 86, 255);
  }
  &:visited {
    color: rgb(86, 86, 255);
  }
  &:hover {
    color: #e78ea5;
  }
}

.portfolio__bottom-links > span {
  font-weight: 400;
}

@media (max-width: 780px) {
  .portfolio__wrapper {
    display: flex;
    flex-direction: column;
  }
}
