.modal-backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #ededed89;
}

.modal::-webkit-scrollbar {
  width: 10px;
}
.modal::-webkit-scrollbar-thumb {
  height: 30%;
  background: #2E2E2E;
}
.modal::-webkit-scrollbar-track {
  background: #817e8a89;
}

.modal {
  position: relative;
  border: solid 1px gray;
  z-index: 1055;
  width: 95%;
  height: 95%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: white;
  animation: ScaleIn 0.2s ease-in-out;
}

@keyframes ScaleIn {
  0% {
    transform: translateY(-500px);
    opacity: .5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.portfolio {
  position: relative;
  line-height: 1.5;
}

.fixed {
  position: sticky;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1060;
  background-color: black;
  color: white;
}

.fixed .bi-x {
  color: white
}

.portfolio__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.portfolio__header,
.portfolio__wrapper {
  margin: 0 50px;
}

.portfolio__container {
  margin-top: 30px;
}

.portfolio__icon {
  font-size: 30px;
}

.portfolio__img {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__img-01 {
  width: auto;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  background-color: #e78ea5 !important;
}

.portfolio__content-info {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.portfolio__content-info-name {
  font-size: 40px;
  font-weight: 700;
  color: rgb(56, 56, 56);
  padding-bottom: 10px;
}

.portfolio__content-ex-text {
  padding-bottom: 30px;
}

.portfolio__content-ex-text > span {
  font-weight: 500;
}

.portfolio__content-ex-write {
  margin-top: 15px;
}

.portfolio__content-skill {
  font-size: 13px;
}

.portfolio__bottom {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.portfolio__bottom-links {
  margin-bottom: 5px;
}
.portfolio__bottom-solve {
  margin: 10px 0 3px 0;
}

.portfolio__bottom-links > a {
  &:link {
    color: rgb(86, 86, 255);
  }
  &:visited {
    color: rgb(86, 86, 255);
  }
  &:hover {
    color: #e78ea5;
  }
}

.portfolio__bottom-links > span {
  font-weight: 400;
}

@media (max-width: 780px) {
  .portfolio__wrapper {
    display: flex;
    flex-direction: column;
  }
}
