.nav__container {
  padding: 5px 0;
  // background-color: white;
  border-bottom: 0px solid white;
  transition: 0.2s;
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}

.nav__container__fixed {
  padding: 5px 0;
  // background-color: white;
  border-bottom: 0.5px solid grey;
  transition: 0.2s;
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}

.nav__wrapper {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1130px;
}

.nav-list {
  display: flex;
}

.nav-name {
  font-weight: 700;
  font-size: 20px;
  // cursor: pointer;
}

.nav-list > ul {
  display: flex;
  flex-direction: row;
  // gap: 1.5rem;
}

.nav-list > ul > li {
  // cursor: pointer;
  padding-left: 20px;
  transition: 0.2s;
}

.nav-list > ul > li:hover {
  // cursor: pointer;
  color: #e78ea5;
  transform: translate(0.5%, 0.5%);
  transition: 0.2s;
}
