.nav__container {
  padding: 5px 0;
  border-bottom: 0px solid white;
  transition: 0.2s;
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}

.nav__container__fixed {
  padding: 5px 0;
  border-bottom: 0.5px solid grey;
  transition: 0.2s;
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}

.nav__wrapper {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1130px;
}

.nav__list {
  display: flex;
}

.nav__name {
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.nav__list-content {
  display: flex;
  flex-direction: row;
  // gap: 1.5rem;
}

.nav__menu {
  cursor: pointer;
  padding-left: 20px;
  transition: 0.2s;
  &:hover {
    cursor: pointer;
    color: #e78ea5;
    transform: translate(0.5%, 0.5%);
    transition: 0.2s;
  }
}

@media (max-width: 1200px) {
  .nav__wrapper {
    margin: 0 30px;
  }
}

@media (max-width: 768px) {
  .nav__wrapper {
    margin: 0 30px;
  }
}
