// .skill-container {
//   height: 100vh;
// }

.skill__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.skill__about {
  display: flex;
}

.skill__animation {
  position: relative;
}

.skill__title {
  font-size: 45px;
  padding-bottom: 20px;
  font-weight: 700;
}

@mixin anime-default {
    background: linear-gradient(to right, rgb(56, 56, 56) 50%, rgb(226, 226, 226) 50%);
    background-size: 200% 100%;
    background-position-x: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.skill__title1 {
  @include anime-default;
}

.skill__title3, .skill__title4 {
  margin-top: 40px;
  @include anime-default;
}

.skill__design-container {
  display: flex;
}

.skill__img-wrapper {
  display: flex;
  align-items: center;
}

.skill__partition {
  display: flex;
}

.skill__mobile-partition {
  display: flex;
}

.skill__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill__skilltext {
  display: flex;
  width: 100px;
  word-break: normal;
  padding-top: 10px;
  justify-content: center;
  text-align: center;
}

.skill__img-height {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 10px;
  img {
    position: unset !important;
    height: auto !important;
  }
}

.skill__absolute {
  position: absolute;
}

.skill__img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 1200px) {
  .skill__wrapper {
    margin: auto;
    padding: 0 30px;
  }
}

@media (max-width: 850px) {
  .skill__title {
    font-size: 37px;
  }
  .skill__partition {
    justify-content: center;
    flex-direction: column;
  }
  .skill__about {
    display: flex;
    justify-content: center;
  }
  .skill__animation {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 412px) {
  .skill__title {
    font-size: 30px;
  }
}