.skill-container {
  height: 90vh;
}

.skill-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.skill-about {
  display: flex;
}

.skill-animation {
  position: relative;
}

.skill-title {
  font-size: 45px;
  padding-bottom: 20px;
  font-weight: 700;
}

.skill-title1 {
  background: linear-gradient(to right, rgb(56, 56, 56) 50%, rgb(226, 226, 226) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.skill-title2 {
  margin-top: 40px;
  background: linear-gradient(to right, rgb(56, 56, 56) 50%, rgb(226, 226, 226) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.skill-design-container {
  display: flex;
}

.skill-img-wrapper {
  display: flex;
  align-items: center;
}

.skill-partition {
  display: flex;
}

.skill-mobile-partition {
  display: flex;
}

.skill-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-skilltext {
  display: flex;
  width: 100px;
  word-break: normal;
  padding-top: 10px;
  justify-content: center;
  text-align: center;
}

.skill-img-height {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.skill-absolute {
  position: absolute;
}

.skill-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 1200px) {
  .skill-wrapper {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 1010px) {
  // .skill-title {
  //   margin-left: 0;
  //   font-size: 40px;
  // }

  // .skill-about {
  //   display: flex;
  //   justify-content: center;
  // }
  // .skill-animation {
  //   display: flex;
  //   justify-content: center;
  // }
  // .skill-img-wrapper {
  //   flex-direction: column;
  // }
}

@media (max-width: 850px) {
  .skill-title {
    font-size: 37px;
  }
  .skill-partition {
    justify-content: center;
    flex-direction: column;
  }
  .skill-about {
    display: flex;
    justify-content: center;
    margin-right: 30px;
  }
  .skill-animation {
    display: flex;
    justify-content: center;
  }
}
